html {
	height: 100%;
	font-size: 16px;
	box-sizing: border-box;
	background-color: #D1474B;
	font-family: sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

textarea:focus, input:focus, button{
    outline: none;
}

h1 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-size: small;
}

button {
	background-color: #D1474B;
    color: white;
    border: none;
    padding: 0.8em;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    float: right;
}

button:hover {
	background-color: #A73C3F;	
}

button:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

section {
	margin: 2em auto;
}

main {
	width: 90%;
	margin: 2em auto;
	padding: 1.5em;
	box-shadow: 12px 12px 0px 0px rgba(0,0,0,0.2);
	background-color: white;
	overflow: hidden;
}

header img {
	float: left;
}
header img:first-child {
	width: 20%;
}
header img:last-child {
	width: 80%;
}

header:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#input div.input__fields span {
	display: inline-block;  
    background-color: yellow;
    padding: 0.2em;
    transform: skewY(3deg);
    margin: 0.3em;
}

#input div.input__fields input {
	position: relative;
	background: none;
	text-align: center;
	border: none;
	font-size: 1.1em;
	margin: 0.4em;
    transform: skewY(-3deg);
    font-weight: bold;
}

#input div.input__defaults {
	margin-bottom: 0.6em;
}

#input div.input__error span {
	display: inline-block;
	border: 1px solid #D1474B;
	color: #D1474B;
    padding: 0.8em;
    margin-top: 1em;
}


