<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ngMadLibs {{version}}</title>
	<link rel="stylesheet" href="css/styles.css">
	<script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.3.10/angular-animate.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<main ng-controller="myController as ctrl">
		<header>
			<img src="img/mad-lib-happy-face.png" alt="happy face">
			<img src="img/ng-mad-libs-logo.png" alt="logo">
		</header>
		<section id="input" class="fade" ng-show="!ctrl.showMadLibs">
			<h1>Provide a random word</h1>
			<form id="madLibsForm" name="madLibsForm" novalidate ng-submit="ctrl.submit()">
				<div class="input__defaults">
					<input type="radio" name="gender" value="male" ng-model="ctrl.gender" ng-click="ctrl.updateText()" checked="checked" /> male
					<input type="radio" name="gender" value="female" ng-model="ctrl.gender" ng-click="ctrl.updateText()" /> female
				</div>			
				<div class="input__fields">
					<span><input type="text" name="name" placeholder="{{ ctrl.gender }} name" ng-model="ctrl.genderTextMaleFemaleName" required></span>
					<span><input type="text" name="jobTitle" placeholder="job title" ng-model="ctrl.libs.jobTitle" required></span>
					<span><input type="text" name="tediousTask" placeholder="tedious task" ng-model="ctrl.libs.tediousTask" required></span>
					<span><input type="text" name="celebrity" placeholder="celebrity" ng-model="ctrl.libs.celebrity" required></span>
					<span><input type="text" name="uselessSkill" placeholder="useless skill" ng-model="ctrl.libs.uselessSkill" required></span>
					<span><input type="text" name="adjective" placeholder="adjective" ng-model="ctrl.libs.adjective" required></span>
					<span><input type="text" name="obnoxiousCelebrity" placeholder="obnoxious celebrity" ng-model="ctrl.libs.obnoxiousCelebrity" required></span>
					<span><input type="text" name="dirtyTask" placeholder="dirty task" ng-model="ctrl.libs.dirtyTask" required></span>
					<span><input type="text" name="hugeNumber" placeholder="huge number" ng-model="ctrl.libs.hugeNumber" required></span>
				</div>
				<div class="input__error" ng-if="ctrl.madLibsForm.$submitted && ctrl.madLibsForm.$invalid">
					<span ng-if="ctrl.madLibsForm.name.$error.required">Provide a name</span>
					<span ng-if="ctrl.madLibsForm.jobTitle.$error.required">Provide a job title</span>
					<span ng-if="ctrl.madLibsForm.tediousTask.$error.required">Provide a tedious task</span>
					<span ng-if="ctrl.madLibsForm.celebrity.$error.required">Provide a celebrity</span>
					<span ng-if="ctrl.madLibsForm.uselessSkill.$error.required">Provide a useless skill</span>
					<span ng-if="ctrl.madLibsForm.adjective.$error.required">Provide a adjective</span>
					<span ng-if="ctrl.madLibsForm.obnoxiousCelebrity.$error.required">Provide a obnoxious celebrity</span>
					<span ng-if="ctrl.madLibsForm.dirtyTask.$error.required">Provide a dirty task</span>
					<span ng-if="ctrl.madLibsForm.hugeNumber.$error.required">Provide a huge number</span>
					<span ng-if="ctrl.madLibsForm.hugeNumber.$error.number">Must be a valid number</span>
				</div>
				<button type="submit">Generate Mad Libs</button>
			</form>
		</section>
		<section id="text" class="fade" ng-show="ctrl.showMadLibs">
			<h1>Mad Libs</h1>
			<p>{{ ctrl.genderTextMaleFemaleName }} was a {{ ctrl.libs.jobTitle }} who loved technology. Although {{ ctrl.genderTextHeShe }} loved parts of {{ ctrl.genderTextHisHer }} job, {{ ctrl.genderTextHeShe }} absolutely hated {{ ctrl.libs.tediousTask }} and {{ ctrl.libs.dirtyTask }}. So, {{ ctrl.genderTextMaleFemaleName }} met with {{ ctrl.genderTextHisHer }} life mentor {{ ctrl.libs.celebrity }} who told {{ ctrl.genderTextHisHer }} to learn how to {{ ctrl.libs.uselessSkill }} with Thinkful. Thinkful didn't offer a course on {{ ctrl.libs.uselessSkill }} so {{ ctrl.genderTextHeShe }} studied programming instead.</p>

			<p>What a great decision! With {{ ctrl.genderTextHisHer }} new skills, {{ ctrl.genderTextMaleFemaleName }} built a(n) {{ ctrl.libs.adjective }} robot named {{ ctrl.libs.obnoxiousCelebrity }} that not only loved {{ ctrl.libs.dirtyTask }} but did it {{ ctrl.libs.hugeNumber }} faster.</p>
			<button ng-click="ctrl.reset()">Start Over</button>
		</section>
	</main>
</body>
</html>